{{#if loggedIn}}
{{> yHeader}}
{{ else }}
{{> nHeader}}
{{/if}}

<div class="registered">
  <span>A reactive React-Custom_Instagram_SP with some additional features developed with MERN stack.</span>
</div>

{{> footer}}